.main-header {
  width: 100%;
  height: 64px;
  background-color: #001529;
}
.main-header .header-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-header .header-content .logo {
  width: 230px;
  height: 100%;
  padding-top: 10px;
}
.main-header .header-content .logo img {
  width: 230px;
  height: 40px;
}
.main-header .header-content p {
  color: #fff;
  font-size: 16px;
}
.main-content {
  position: relative;
  height: calc(100% - 64px);
}
.main-content .main-nav {
  width: 200px;
  min-height: 100%;
  background-color: #001529;
}
.main-content .main-nav .nav-item {
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  color: #fff;
  cursor: pointer;
}
.main-content .main-nav .nav-active {
  background-color: #1890ff;
}
.main-content .main-table {
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f2f5;
}
.main-content .main-table .table-ul {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.main-content .main-table .table-ul .table-item {
  background-color: #fff;
  min-height: 100%;
  display: none;
}
.main-content .main-table .table-ul .table-item .table-container {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.main-content .main-table .table-ul .table-item .table-container th,
.main-content .main-table .table-ul .table-item .table-container td {
  padding: 15px;
}
.main-content .main-table .table-ul .table-item .table-container td span {
  color: #409eff;
  cursor: pointer;
}
.main-content .main-table .table-ul .table-item .table-container tbody tr:hover {
  background-color: #e6f7ff;
}
.main-content .main-table .table-ul .table-item .page-controller-container {
  float: right;
  margin-top: 30px;
  display: flex;
}
.main-content .main-table .table-ul .table-item .page-controller-container .icon,
.main-content .main-table .table-ul .table-item .page-controller-container .page-item {
  width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  margin-right: 10px;
}
.main-content .main-table .table-ul .table-item .page-controller-container .page-item {
  float: left;
}
.main-content .main-table .table-ul .table-item .page-controller-container .page-item.active {
  color: #1890ff;
  border-color: #1890ff;
}
.main-content .main-table .table-ul .table-active {
  display: block;
}
/* 修改框 */
.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.dialog-container .dialog-main {
  width: 600px;
  height: 600px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  border-radius: 5px;
}
.user-form {
  padding: 50px;
}
.user-form .form-item {
  margin-bottom: 20px;
  height: 42px;
}
.user-form .form-item:after {
  content: "";
  display: block;
  clear: both;
}
.user-form .form-item label {
  height: 42px;
  line-height: 42px;
  margin-right: 16px;
  float: left;
}
.user-form div input[type="text"] {
  height: 20px;
  padding: 11px 10px;
  float: left;
  width: 360px;
  outline: none;
  border: solid 1px #e7e7e7;
}
.user-form select {
  height: 42px;
  float: left;
  outline: none;
  width: 384px;
}
.user-form .btns {
  margin-left: 160px;
}
.user-form .btns > * {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}
.user-form .btns > .add-btn {
  background-color: #409eff;
  margin-right: 30px;
}
.user-form .btns > .reset-btn {
  background-color: #f56c6c;
  outline: none;
  border: none;
}
